{% load static %}
<!doctype html>
<html lang="en">
    <head>

        <!-- GOOGLE TRACKING SETUP -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-K0KGN7KVT8"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-K0KGN7KVT8');
        </script>
        

        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'img/logo2.png' %}"/>
        <link href="{% static 'css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="{% static 'css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        
        <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqkwYqdr51nm3-ILj_Wtd3r8QhsVt7d5E&callback=initMap&libraries=&v=weekly"
        defer
        ></script>
        <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '160891119314064');
            fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=160891119314064&ev=PageView&noscript=1"
            /></noscript>
            <!-- End Facebook Pixel Code -->

    </head>
    <body data-smooth-scroll-offset="77">


        {% block content_home %} {% endblock content_home %}
        {% block content_search %} {% endblock content_search %}
        {% block content_category %} {% endblock content_category %}
        {% block content_detail %} {% endblock content_detail %}
        

        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="https://kit.fontawesome.com/04001b9561.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/smooth-scroll.min.js' %}"></script>

        <script src="{% static 'js/maps.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

    </body>

</html>